// Specific CSS for your home-page
.homebackground {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.gradientbackground {
  background: #FCD4D4;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #F7F7F7, #FCD4D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#F7F7F7, #FCD4D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // min-height: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
