<a href="" class="card-clickable">
<div class="card card-shadow">
  <h5 class="card-header">Makan Code: <span class="makan-code">AG2G34</span></h5>
  <div class="card-body">
    <p class="card-text">End: 5 Jul 2020 12:06 am</p>
    <p>By: john@gmail.com</p>
    <a href="#" class="btn btn-primary">Results</a>
  </div>
</div>
</a>
