<div class="d-flex justify-content-center">
  <%= simple_form_for(@meal) do |f| %>
    <%= f.input :postal_code, label: 'Postal Code' %>
    <%= f.submit 'Create Meal', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
