<div class="d-flex justify-content-center m-3">
  <%= link_to 'Join Meal', '/join_meal', class: "btn btn-primary", style: "width:50%" %>
</div>
<div class="d-flex justify-content-center m-3">
  <%= link_to 'Create Meal', new_meal_path, class: "btn btn-secondary", style: "width:50%" %>
</div>
