<div class="d-flex justify-content-center">
  <%= simple_form_for(@meal, method: :post, url: '/join_meal') do |f| %>
    <%= f.input :vanity_id, label: 'Meal ID', input_html: { class: "sharp-box" } %>
    <%= f.submit 'Join Meal', class: 'btn primarybtn btn-block' %>
  <% end %>
</div>
