<div class="justify-content-center">
  <div>
    <%= image_tag image_path('aunty-square.svg') %>
  </div>
  <h1>Ask Aunty</h1>
  <p>
    Going out in a group and can't decide what to eat? <br>
    <br> <strong>ASK AUNTY!</strong><br>
    <br> Aunty will set up a poll for your group and suggest locations based on your group's preferences.
  </p>
</div>
