<div class="cards">
  <%= simple_form_for current_user, wrapper: :inline_form, html: { class: 'form-inline' }, url: "/save_preference", action: :post do |f| %>
    <%= f.association :preferences,
      as: :check_boxes,
      include_blank: true,
      label_html: { class: "pref-card" }
    %>
    <%= f.submit 'Save Preferences' %>
  <% end %>
</div>

<!-- <div class="cards">
  <div class="pref-card card shadow-sm mb-3 content-centered">
    <h3 class="fa fa-leaf p-3 m-0" style="font-size: 30px"></h3>
    <h5 class="p-2 m-0">Vegetarian</h5>
    <input type="hidden" value="false">
  </div>
  <div class="pref-card card shadow-sm mb-3 content-centered">
    <h3 class="fas fa-fish p-3 m-0" style="font-size: 30px"></h3>
    <h5 class="p-2 m-0">Pescatarian</h5>
  </div>
   <div class="pref-card card shadow-sm mb-3 content-centered">
    <h3 class="fas fa-pepper-hot p-3 m-0" style="font-size: 30px"></h3>
    <h5 class="p-2 m-0">No Spicy Foods</h5>
  </div>
  <div class="pref-card card shadow-sm mb-3 content-centered">
    <%= image_tag "halal", alt: "alttext", height: "60px", class: "p-2 m-0" %>
    <h5 class="p-2 m-0">Halal</h5>
  </div>
</div>
 -->



