<!-- Used for each of the 3 aunty's suggestions -->
<!-- The style is to specify the -->
<style>
.selected {
border: 4px red;
}

.suggestion:hover {
  border: 4px gray;
}
</style>

<div>
  <p class="card-text font-weight-bold my-0">
      <h2><%= poll.cuisine.name.capitalize %> |
          <%= poll.total_score %></h2>
  </p>

  <div class="img-thumbnail img-fluid max-width: 100% height: auto">
    <% if poll.cuisine.photo.attached? %>
      <%= cl_image_tag(poll.cuisine.photo.key, crop: :fill, class: 'card-img-top') %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/featured/?#{poll.cuisine.dish}", alt: "alttext", class: 'card-img-top' %>
    <% end %>
  </div>

</div>
