<div>
  <h1>My Makan</h1><br>
  <ul style="list-style-type:square">
    <% @users_meals.each do |users_meal| %>
        <%= render 'shared/card', users_meal: users_meal %>
    <% end %>
  </ul>
</div>
