<h1>Ask Aunty</h1>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="maintitle">COMING SOON</h1>
      <button class="button primary" onclick="window.location.href='b.php'">New Poll</button>
      <button class="button secondary" onclick="window.location.href='b.php'">Join Poll</button>
    </div>
  </div>
</div>
