<% if Time.now > @endtime %>
  <h1>Aunty's Verdict:</h1>
  <% if @top_cuisine == [] %>
    <p>Your poll closed but no one voted :(</p>
  <% else %>
    <div>
      <% @top_cuisine.each do |cuisine| %>
        <%= render partial: 'verdict', locals: { cuisine: cuisine } %>
      <% end %>
    </div>
    <br>
    <div>
      <h2>Your Group's Preferences</h2>
      <ul>
        <% @collated_prefs.each do |p| %>
          <li><%= p.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <h1>Aunty still processing all votes...</h1>
  <h3>You wait until <%= @endtime.localtime %> can?</h3><br>
  <p>Wah you damn on ah! Very early, very good! Come back to aunty later for results.</p></br>
<% end %>
