<h1>View Result</h1><br>

Poll ends: <%= @endtime %><br>
</br>

If poll not ended: show "waiting"<br>

Else show result:
<br></br>

<% @top_cuisine.each do |cuisine| %>
  <%= render partial: 'verdict', locals: { cuisine: cuisine } %>
<% end %>

