<% if Time.now > @endtime %>
  <h1>Aunty's Verdict:</h1>
  <% if @top_cuisine == [] %>
    <p>Your poll closed but no one voted :(</p>
  <% else %>
    <% @top_cuisine.each do |cuisine| %>
      <%= render partial: 'verdict', locals: { cuisine: cuisine } %>
    <% end %>
  <% end %>
<% else %>
  <h1>Aunty's still waiting...</h1>
  <h3>Your poll ends: <%= @endtime %></h3><br>
  <p>Please check back after poll closing time for Aunty's verdict.</p></br>
<% end %>



