.score {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

.btn {
  // border: 2px solid black;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0;
}

.primarybtn {
  // border: 2px solid white;
  background-color: $primary;
  color: white;
}

.primarybtn:hover {
  box-shadow: 2px 1px 1px grey;
}

.primarybtn:focus {
  background-color: white;
}

.secondarybtn {
  // border: 4px solid black;
  // background-color: $light-gray;
  // color: black;
  background-color: white;
  color: $primary;
}

.secondarybtn:hover {
  border: 4px solid black;
}

.secondarybtn:focus {
  background-color: white;
}

.fixed-width {
  width: 43vw;
}

.btn-disabled {
  pointer-events: none;
  opacity: 60%;
}

.highlight-tab {
  color: black;
  box-shadow: 0 0 1px 2px $primary;
  border: 2px solid black;
}
