.card-clickable {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.card-shadow:hover {
  box-shadow: 0 0 2px 1px $primary !important;
  .makan-code {
    color: $primary;
  }
}

.card {
  border-radius: 0;
}
