.sharp-box {
  border: 2px solid $light-gray;
  padding: 24px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0;
  color: black;
}

.sharp-box.timefield {
  padding: 0;
}
