.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-offset {
  margin-top: 96px;
  margin-bottom: 40px;
}

.user-avatar {
  width: 47px;
  height:47px;
  color: black;
  z-index: -1;
}
