.navbar-lewagon {
  justify-content: space-between;
  background: #F0EDE6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.user-avatar {
  width: 40px;
  height:40px;
  color: black;
  z-index: -1;
}

.hor-line {
  border-bottom: 2px solid $primary;
}
