.fa-thumbs-up, .fa-thumbs-down {
  color: grey;
  font-size: 40px;
  margin: 20px;
  &:active {
    color: #ff847c;
  }
}

.poll {
  width: fit-content;
  margin: 0 auto;
}

.btn.primarybtn.btn-block a {
  color: white;
  text-decoration: none;
}

// .progress {
//   color: #ff847c;
// }
// .progress::-webkit-progress-bar {
//   background: #ff847c;
// }
// .progress {
//    -webkit-appearance: none;
// }
// .progress::-webkit-progress-bar-value {
//   -webkit-appearance: none;
//   background-color: #ff847c;
// }
